@import "tailwindcss";

@font-face {
    font-family: "Okomito";
    src: url(assets/Inter-VariableFont_opsz,wght.ttf);
}
@font-face {
    font-family: "Satoshi";
    src: url(assets/66aa728085dec3390cb7f058_Satoshi-Variable.ttf);
}


body{
  scroll-behavior: smooth;
  background-color: black;
}

@theme {
  --font-Okomito : "Okomito";
  --font-Satoshi : "Satoshi";
}

::-webkit-scrollbar{
    display: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.shiny-text {
  color: #7d7d7dc8;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
